GiftCardCodeGenerationBenchmark/bin
GiftCardCodeGenerationBenchmark/obj
.idea
GiftCardCodeGenerationBenchmark/BenchmarkDotNet.Artifacts/results
GiftCardCodeGenerationBenchmark/BenchmarkDotNet.Artifacts
